@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/Home.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">

<div id='background'></div>
<div id='home-content'>
    <div class='big-row row'>
        <div class='col-md-12'>
            <div class='row'>
                <div class='col-md-4 col-md-offset-4'>
                    <br>
                    <h1 class='txt text-center'>
                        About Us
                    </h1>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-6 text-right'>
                    <div class='row'>
                        <h2 class='txt'>
                            Why choose us?
                        </h2>
                    </div>
                    <div class='row'>
                        <h4>
                            Being a locally owned and operated business, owner Jeff Polutta takes pride in ensuring client satisfaction and excellent customer service. At Prestige Heating & Air Conditioning Contractors HVAC technicians are hand-picked for their excellent work and efficiency. Our techs are all factory-trained and fully capable of working on all major brands and models. We carry many standard parts on our trucks and are happy to provide same day service on most jobs.
                        </h4>
                    </div>
                    <br>
                </div>
                <div class='col-md-6 text-left'>
                    <div class='col-md-5 text-center'>
                        <i class='fab fa-gripfire fire' id='big-icon-fire' style='text-shadow: 1px 1px white, -1px -1px #666;'></i>
                        <i class='fa fa-tint water' id='big-icon-water' style='text-shadow: 1px 1px white, -1px -1px #666;'></i>
                    </div>
                    <div class='col-md-6 text-left'>
                        <h5>Since 1985, Prestige Heating & Air Conditioning Contractors have been providing Charleston and surrounding areas with climate perfect homes. We're homeowners ourselves and understand that you want your house to feel perfectly cool in the summer and warm and toasty in the wintertime. That's why we take an extremely detailed approach to HVAC services and strive to have your home's systems running optimally as soon as possible so your family can relax in the comforts of home. Well-calibrated, maintained and updated HVAC systems are better functioning and more energy-efficient. Prestige Heating & Air Conditioning Contractors will get your home's systems running in a manner that preserves the planet and saves you money.</h5>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
    <br>
    <div class='big-row row'>
        <div class='col-md-12'>
            <div class='col-md-4'>
                <div class='row'>
                    <h1 class='txt text-left'>
                        WHERE
                    </h1>
                </div>
                <div class='row'>
                    <h1 class='txt text-center'>
                        WE &nbsp
                    </h1>
                </div>
                <div class='row'>
                    <h1 class='txt text-right'>
                        WORK
                    </h1>
                </div>
                <br>
            </div>
            <div class='col-md-8'>
                <br>
                <br>
                <div class='col-md-2'>
                    <img class='team-img' src='http://placehold.it/100x100'>
                </div>
                <div class='col-md-2 col-md-offset-1'>
                    <img class='team-img' src='http://placehold.it/100x100'>
                </div>
                <div class='col-md-2 col-md-offset-1'>
                    <img class='team-img' src='http://placehold.it/100x100'>
                </div>
                <div class='col-md-2 col-md-offset-1'>
                    <img class='team-img' src='http://placehold.it/100x100'>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class='big-row row'>
        <div class='col-md-12'>
            <div class='col-md-5'>
                <div class='row'>
                    <div class='col-md-1 text-center'>
                        <h3>
                            &nbsp<i class="fas fa-home text-left"></i>
                        </h3>
                    </div>
                    <div class='col-md-11 text-right'>
                        <h3>
                            1244 Redbank Rd Goose Creek, SC 29445
                        </h3>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-1 text-center'>
                        <h3>
                            &nbsp<i class="fa fa-phone text-left"></i>
                        </h3>
                    </div>
                    <div class='col-md-11 text-right'>
                        <h3>
                            Tel: (843) 764-0460&nbsp;&nbsp;&nbsp; Fax: (843) 863-0928
                        </h3>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-1 text-center'>
                        <h3>
                            &nbsp<i class="fa fa-envelope text-left"></i>
                        </h3>
                    </div>
                    <div class='col-md-11 text-right'>
                        <h3>
                            Jeffpolutta@prestigeheatingandair.com
                        </h3>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-1 text-center'>
                        <h3>
                            &nbsp<i class="far fa-clock text-left"></i>
                        </h3>
                    </div>
                    <div class='col-md-11 text-right'>
                        <h3>
                            Available 24 hours a day, 7 days a week!
                        </h3>
                    </div>
                </div>
            </div>
            <div class='col-md-6'>
                <div class='col-md-10 col-md-offset-1 text-center'>
                    <h2>GET IN TOUCH</h2>
                    <i class='fa fa-comments fa-4x'></i>
                    <h4>
                        Please @Html.ActionLink("click here", "Contact", "Main", routeValues: null, htmlAttributes: new { style = "text-decoration:underline;" }) to send a message to us <br /> or use the contact information on the left.
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class='big-row row'>
        <div class='col-md-12'>
            <div class='row'>
                <div class='col-md-4 col-md-offset-4'>
                    <br>
                    <h1 class='txt text-center'>
                        Reviews
                    </h1>
                    <br>
                </div>
            </div>
            <div class='col-md-4'>
                <div class='row'>
                    <h4>I had a great experience with Prestige Heating & Air. They were very responsive, and got a technician out here as soon as they could. When he got here, he walked me through everything and was sure to educate me along the way. I am very happy with the services provided by this company and would highly recommend to anyone.</h4>
                    <h3>- Caleb Hund</h3>
                </div>
            </div>
            <div class='col-md-4'>
                <div class='row'>
                    <h4>They are textbook professionals. A worker showed up in 30 mins to help me. Great pricing, as well. Highly recommend.</h4>
                    <h3>- Louis Hassell</h3>
                </div>
            </div>
            <div class='col-md-4'>
                <div class='row'>
                    <h4>I asked a friend. They told me to call Coleman. He showed up. He gave a price. Day 2 (2) mechanics showed up. They did the work fast and furious and clean. I couldn't be happier with how it was all handled and for a very reasonable price. I will definitely use them again.</h4>
                    <h3>- Terry Brennan</h3>
                </div>
            </div>
        </div>
    </div>
</div>