@{
    ViewBag.Title = "Services";
}

@* TODO: PROGRAMATICALLY LIST SERVICES *@

<link href="~/Content/Services.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />

<div class="container">
    <div id="products" class="row list-group">
        @* Item 5 *@
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="https://inspectapedia.com/interiors/CPSC_Dryer_Safetys.jpg" alt="" />
                <div class="caption">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Dryer Vent Cleaning</li>
                        <li class="list-group-item">Dryer Vent Installation</li>
                    </ul>
                </div>
            </div>
        </div>
        @* Item 3 *@
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="https://article.images.consumerreports.org/prod/content/dam/cro/news_articles/appliances/CR-BG-Central-Air-Browser-Illo" alt="" />
                <div class="caption">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Central Air Conditioning Installation</li>
                        <li class="list-group-item">Central Air Conditioning Maintenance</li>
                        <li class="list-group-item">Central Air Conditioning Repair</li>
                    </ul>
                </div>
            </div>
        </div>
        @* Item 9 *@
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="https://inspectapedia.com/heat/0717s.jpg" alt="" />
                <div class="caption">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Furnace Installation</li>
                        <li class="list-group-item">Furnace Maintenance</li>
                        <li class="list-group-item">Furnace Repair</li>
                        <li class="list-group-item">Gas Furnace Installation</li>
                    </ul>
                </div>
            </div>
        </div>
        @* Item 12 *@
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="https://www.alltimehtg.com/wp-content/uploads/2016/04/Air-Conditioning-Contractor-Portland.jpg" alt="" />
                <div class="caption">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Radiant Heating Installation</li>
                        <li class="list-group-item">Heating Installation</li>
                        <li class="list-group-item">Heating and Cooling</li>
                        <li class="list-group-item">Heating and Cooling Installation</li>
                        <li class="list-group-item">Heating and Cooling Maintenance</li>
                        <li class="list-group-item">Heating and Cooling Repair</li>
                        <li class="list-group-item">Heating, Ventilation, and Air Conditioning</li>
                    </ul>
                </div>
            </div>
        </div>
        @* Item 10 *@
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://www.theseverngroup.com/wp-content/uploads/2017/06/HVAC-Inspection.png" alt="" />
                <div class="caption">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">HVAC Inspection</li>
                    </ul>
                </div>
            </div>
        </div>
        @* Item 11 *@
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="https://static.vecteezy.com/system/resources/previews/000/099/723/non_2x/vector-heat-pump-system.jpg" alt="" />
                <div class="caption">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Heat Pump Installation</li>
                        <li class="list-group-item">Heat Pump Repair</li>
                    </ul>
                </div>
            </div>
        </div>
        @* Item 14 *@
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://www.davisheatingac.com/blog/wp-content/uploads/2015/06/focuspro_programmable_hires-300x188.jpg" alt="" />
                <div class="caption">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Smart Thermostat Installation and Replacement</li>
                        <li class="list-group-item">Thermostat Replacement & Repair</li>
                    </ul>
                </div>
            </div>
        </div>
        @* Item 15 *@
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://www.ntsupply.com/images/article_content/qVdia-03.gif" alt="" />
                <div class="caption">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Ventilation System Inspection</li>
                        <li class="list-group-item">Ventilation Systems Cleaning</li>
                        <li class="list-group-item">Ventilation and Ductwork</li>
                        <li class="list-group-item">Ventilation and Ductwork Installation</li>
                        <li class="list-group-item">Ventilation and Ductwork Maintenance</li>
                        <li class="list-group-item">Ventilation and Ductwork Repair</li>
                    </ul>
                </div>
            </div>
        </div>
        @* Item 16 *@
    </div>
</div>
