@{
    ViewBag.Title = "Services";
}

@* TODO: PROGRAMATICALLY LIST SERVICES *@

<link href="~/Content/Services.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />

<div class="container">
    <div id="products" class="row list-group">
        @* Item 1 *@
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    @*<h4 class="group inner list-group-item-heading">
                        Product title
                    </h4>*@
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">"Air & Water Systems Balancing"</li>
                    </ul>
                </div>
            </div>
        </div>
        @* Item 2 *@
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    @*<h4 class="group inner list-group-item-heading">
                        Product title
                    </h4>*@
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">"Boiler Installation"</li>
                        <li class="list-group-item">"Boiler Repair & Maintenance"</li>
                    </ul>
                </div>
            </div>
        </div>
        @* Item 3 *@
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    @*<h4 class="group inner list-group-item-heading">
                        Product title
                    </h4>*@
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">"Central Air Conditioning Installation"</li>
                        <li class="list-group-item">"Central Air Conditioning Maintenance"</li>
                        <li class="list-group-item">"Central Air Conditioning Repair"</li>
                    </ul>
                </div>
            </div>
        </div>
        @* Item 4 *@
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    @*<h4 class="group inner list-group-item-heading">
                        Product title
                    </h4>*@
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">"Attic Ventilation Installation"</li>
                        <li class="list-group-item">"Crawl Space Ventilation Installation"</li>
                    </ul>
                </div>
            </div>
        </div>
        @* Item 5 *@
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    @*<h4 class="group inner list-group-item-heading">
                        Product title
                    </h4>*@
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">"Dryer Vent Cleaning"</li>
                        <li class="list-group-item">"Dryer Vent Installation"</li>
                    </ul>
                </div>
            </div>
        </div>
        @* Item 6 *@
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    @*<h4 class="group inner list-group-item-heading">
                        Product title
                    </h4>*@
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">"Duct Cleaning"</li>
                        <li class="list-group-item">"Duct Insulation & Sealing"</li>
                        <li class="list-group-item">"Ductwork Installation"</li>
                    </ul>
                </div>
            </div>
        </div>
        @* Item 7 *@
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    @*<h4 class="group inner list-group-item-heading">
                        Product title
                    </h4>*@
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">"Exhaust Fan Installation"</li>
                    </ul>
                </div>
            </div>
        </div>
        @* Item 8 *@
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    @*<h4 class="group inner list-group-item-heading">
                        Product title
                    </h4>*@
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">"Geothermal Heat Pump Installation"</li>
                        <li class="list-group-item">"Geothermal Heat Pump Repair"</li>
                    </ul>
                </div>
            </div>
        </div>
        @* Item 9 *@
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    @*<h4 class="group inner list-group-item-heading">
                        Product title
                    </h4>*@
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">"Furnace Installation"</li>
                        <li class="list-group-item">"Furnace Maintenance"</li>
                        <li class="list-group-item">"Furnace Repair"</li>
                        <li class="list-group-item">"Gas Furnace Installation"</li>
                    </ul>
                </div>
            </div>
        </div>
        @* Item 10 *@
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    @*<h4 class="group inner list-group-item-heading">
                        Product title
                    </h4>*@
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">"HVAC Inspection"</li>
                    </ul>
                </div>
            </div>
        </div>
        @* Item 11 *@
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    @*<h4 class="group inner list-group-item-heading">
                        Product title
                    </h4>*@
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">"Heat Pump Installation"</li>
                        <li class="list-group-item">"Heat Pump Repair"</li>
                    </ul>
                </div>
            </div>
        </div>
        @* Item 12 *@
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    @*<h4 class="group inner list-group-item-heading">
                        Product title
                    </h4>*@
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">"Radiant Heating Installation"</li>
                        <li class="list-group-item">"Heating Installation"</li>
                        <li class="list-group-item">"Heating and Cooling"</li>
                        <li class="list-group-item">"Heating and Cooling Installation"</li>
                        <li class="list-group-item">"Heating and Cooling Maintenance"</li>
                        <li class="list-group-item">"Heating and Cooling Repair"</li>
                        <li class="list-group-item">"Heating, Ventilation, and Air Conditioning"</li>
                    </ul>
                </div>
            </div>
        </div>
        @* Item 13 *@
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    @*<h4 class="group inner list-group-item-heading">
                        Product title
                    </h4>*@
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">"Oil Furnace Installation"</li>
                        <li class="list-group-item">"Oil to Gas Furnace Conversion"</li>
                    </ul>
                </div>
            </div>
        </div>
        @* Item 14 *@
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    @*<h4 class="group inner list-group-item-heading">
                        Product title
                    </h4>*@
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">"Smart Thermostat Installation and Replacement"</li>
                        <li class="list-group-item">"Thermostat Replacement & Repair"</li>
                    </ul>
                </div>
            </div>
        </div>
        @* Item 15 *@
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    @*<h4 class="group inner list-group-item-heading">
                        Product title
                    </h4>*@
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">"Ventilation System Inspection"</li>
                        <li class="list-group-item">"Ventilation Systems Cleaning"</li>
                        <li class="list-group-item">"Ventilation and Ductwork"</li>
                        <li class="list-group-item">"Ventilation and Ductwork Installation"</li>
                        <li class="list-group-item">"Ventilation and Ductwork Maintenance"</li>
                        <li class="list-group-item">"Ventilation and Ductwork Repair"</li>
                    </ul>
                </div>
            </div>
        </div>
        @* Item 16 *@
    </div>
</div>
